div.figure {
    margin-bottom: 1em;
}

div.table {
    margin-bottom: 1em;
}

div.caption {
    clear:both;
    margin: 2ex 0ex;
    border-left: 5px #ccc solid;
    padding-left: 5px;
}

span.captionno {
    font-weight: bold;
}

span.captiontext {}

div.picker.captionpicker {
    width: auto;
}