div.plugin_caption_figure, figure.plugin_caption_figure {
    margin-bottom: 1em;
}

div.plugin_caption_table {
    margin-bottom: 1em;
}

div.plugin_caption_caption, figcaption.plugin_caption_caption {
    clear:both;
    margin: 2ex 0ex;
    border-left: 5px #ccc solid;
    padding-left: 5px;
}

span.plugin_caption_caption_number {
    font-weight: bold;
}

span.plugin_caption_caption_text {}

div.picker.captionpicker {
    width: auto;
}
